{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}"/>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<script type="text/javascript">
    $(function() {
        $("#id_start_date").datepicker()
        $("#id_end_date").datepicker()
    })
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#id_url_button").click(function() {
            $("#id_url_output").text(window.location.protocol + '//' + window.location.host + '/goto/?url=' + encodeURIComponent($("#id_url_encode").val()))
            $("#id_url_output").css("font-weight","Bold");     
       });
    })
</script>

    <h1>Click count list page</h1>
<div class="app module">
    <h2>Count list</h2>
    <form id="form" method="post">
        {% csrf_token %}
        <div class="actions">
            {{ form.non_field_errors }}
            {{ form.start_date.label}}
            {{ form.start_date }}
            {{ form.end_date.label }}
            {{ form.end_date}}
            <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
        </div>
        <div class="results" id="list_counters">
            {% if has_counters %}
            <table>
                <thead>
                    <tr>
                        <th>URL</th>
                        <th>No.</th>
                    </tr>
                </thead>
                {% for counter in counters %}
                <tr>
                    <td>{{ counter.url }}</td>
                    <td>{{ counter.url_count}}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h4>No data on that period</h4>
            {% endif %}
        </div>
    </form>
</div>
<div class="app module">
    <h2>Get URL</h2>
    <div class="action">
        <label>URL:</label>
        <input type="text" id="id_url_encode" placeholder="Example: http://www.google.com" size="35"></input>
        <button class="button" title="Get URL Encode" id="id_url_button">Encode</button>
        
    </div>
    <br/>
    <div class="action">
        <label>Output:</label>
        <label id="id_url_output"></label>
    </div>
</div>
{% endblock %}
