{% extends "base.html" %}

{% block page_title %}Response to the form{% endblock %}

{% load questionaire_tags %}
{% block content %}
<script type="text/javascript">

    function show_fields(){
        var identity = $("input:radio[name='identity']:checked").val();
        var who_fill_form = $("input:radio[name='on_behalf_of_student']:checked").val();

        if (identity == "ST") {
            // Show student view: Name of mentor, university study, concern
            $("#id_hidden_mentor_name").show()
            $("#id_hidden_university_studies").show()
            $("#id_hidden_concern").show()

            // Hide other parts
            $("#id_hidden_student_name").hide()
            $("#id_hidden_who_fill_form").hide()

        }

        else if (identity == "MT") {
            if (who_fill_form) {
                if (who_fill_form == 'Y') {
                    // Show mentor view to fill student problem: name of student, university study, concern
                    $("#id_hidden_student_name").show()
                    $("#id_hidden_university_studies").show()
                    $("#id_hidden_concern").show()
                    $("#id_hidden_who_fill_form").show()

                    // Hide other parts
                    $("#id_hidden_mentor_name").hide()
                }

                else if(who_fill_form == "N") {
                    // Show mentor view to fill mentor problem
                    $("#id_hidden_concern").show()
                    $("#id_hidden_who_fill_form").show()

                    // Hide other parts
                    $("#id_hidden_student_name").hide()
                    $("#id_hidden_mentor_name").hide()
                    $("#id_hidden_university_studies").hide()
                }
            }
            else {
                // Show mentor view: Ask if it is mentor's problem or student's problem
                $("#id_hidden_who_fill_form").show()

                // Hide other parts
                $("#id_hidden_student_name").hide()
                $("#id_hidden_mentor_name").hide()
                $("#id_hidden_university_studies").hide()
                $("#id_hidden_concern").hide()
            }

        }
    }

    $(function() {
        $("#id_follow_up_appointment").datepicker();
        show_fields();
        $("input:radio").click(show_fields);

        $("#id_follow_up_phone_0").autotab({ format: 'number', target: '#id_follow_up_phone_1'});
        $("#id_follow_up_phone_1").autotab({ format: 'number', target: '#id_follow_up_phone_2', previous: '#id_follow_up_phone_0'});
        $("#id_follow_up_phone_2").autotab({ format: 'number', previous: '#id_follow_up_phone_1'});

    });
</script>
<div class='wrap'>

    <h1>MAPS Support Webform</h1>
    {% if form.errors %}
        <p class="error">Errors detected: Please correct them before you can continue.</p>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- PART 1: General information -->
        <!-- Name -->
        <div style="display:inline-block">
            {{ form.name.label_tag}}
        </div>
        <div style="display:inline-block">
            {{ form.name }}
        </div>
        <div style="display:inline-block">
            {{ form.name.errors }}
        </div>
        <br/>

        <!-- Student ID# -->
        <div style="display:inline-block">
            {{ form.student_ID.label_tag }}
        </div>
        <div style="display:inline-block">
            {{ form.student_ID }}
        </div>
        <div style="display:inline-block">
            {{ form.student_ID.errors}}
        </div>
        <br/>

        <!-- Identity form field -->
        <div style="display:inline-block">
            {{ form.identity.label_tag }} 
        </div>
        <div style="display:inline-block">
            {{ form.identity.errors }}
        </div>
        <div class"textWrapper">
            {{ form.identity }}
        </div>
        

        <!-- PART 2: Mentor fill out the form about student/mentor problem -->
        <div id="id_hidden_who_fill_form" class="hidden">
            {{ form.on_behalf_of_student.label_tag }}
            {{ form.on_behalf_of_student }}
            {{ form.on_behalf_of_student.errors }}

        </div>

        <!-- PART 3: Student/Mentor name -->
        <div id="id_hidden_student_name" class="hidden">
            <div style="display:inline-block">
                {{ form.student_name.label_tag }} 
            </div>
            <div style="display:inline-block">
                {{ form.student_name }}
            </div>
            <div style="display:inline-block">
                {{ form.student_name.errors }}
            </div>
        </div>

         <!-- Mentor name field -->
        <div id="id_hidden_mentor_name" class="hidden">
            <div style="display:inline-block">
                {{ form.mentor_name.label_tag }} 
            </div>
            <div style="display:inline-block">
                {{ form.mentor_name }}
            </div>
            <div style="display:inline-block">
                {{ form.mentor_name.errors }}
            </div>
        </div>
        

        <!-- PART 4: University Studies information if you are student -->
        <div id="id_hidden_university_studies" class="hidden">
            <div style="display:inline-block">
                {{ form.UNST_course.label_tag }} 
            </div>
            <div style="display:inline-block">
                {{ form.UNST_course }}
            </div>
            <div style="display:inline-block">
                {{ form.UNST_course.errors }}
            </div>
            <br/>     
            <div style="display:inline-block">
                {{ form.type_of_course.label_tag }} 
            </div>
            <div style="display:inline-block">
                {{ form.type_of_course }}
            </div>
            <div style="display:inline-block">
                {{ form.type_of_course.errors }}
            </div>
            <br/>
        </div>
        

        <!-- HIDDEN PARTS -->
        <div id="id_hidden_concern" class='hidden'>

            <!-- Primary concernt field -->
            <div class="textWrapper">
                {{ form.primary_concern.label_tag }}
            </div>
            <div class="textWrapper">
                {{ form.primary_concern.errors }}
            </div>
            <div class="textWrapper">
                {{ form.primary_concern }}
            </div>

            <!-- Step taken form field -->
            <div class="textWrapper">
                {{ form.step_taken.label_tag }}
            </div>
            <div class="textWrapper">
                {{ form.step_taken.errors }}
            </div>
            <div class="textWrapper">
                {{ form.step_taken }}
            </div>

            <!-- When step is taken -->
            <div style="display:inline-block">
                {{ form.when_take_step.label_tag}}
            </div>
            <div style="display:inline-block">
                {{ form.when_take_step }}
            </div>
            <div style="display:inline-block">
                {{ form.when_take_step.errors }}
            </div>

            <!-- Support from MAPS field -->
            <div class="textWrapper">
                {{ form.support_from_MAPS.label_tag }}
            </div>
            <div class="textWrapper">
                {{ form.support_from_MAPS.errors }}
            </div>
            <div class="textWrapper">
                {{ form.support_from_MAPS }}
            </div>

            <!-- Follow up method field -->
            <label>How would you like us to follow-up with you? (Fill at least ONE method below):</label>
            {{ form.non_field_errors }}

            <!-- Via email -->
            <div style="display:inline-block">
                {{ form.follow_up_email.label_tag }} 
            </div>
            <div style="display:inline-block">
                {{ form.follow_up_email }}
            </div>
            <div style="display:inline-block">
                {{ form.follow_up_email.errors }}
            </div>
            <br/>

            <!-- Via phone -->
            <div style="display:inline-block">
                {{ form.follow_up_phone.label_tag }} 
            </div>
            <div style="display:inline-block">
                {{ form.follow_up_phone }}
            </div>
            <div style="display:inline-block">
                {{ form.follow_up_phone.errors }}
            </div>
            <br/>

            <!-- By an appointment -->
            <div style="display:inline-block">
                {{ form.follow_up_appointment.label_tag }} 
            </div>
            <div style="display:inline-block">
                {{ form.follow_up_appointment }}
            </div>
            <div style="display:inline-block">
                {{ form.follow_up_appointment.errors }}
            </div>
            <br/>
            <br/>

            <!-- Verify code -->
            <div style="display:inline-block">
                {{ form.captcha.label_tag}}
            </div>
            <div style="display:inline-block">
                {{ form.captcha }}
            </div>
            <div style="display:inline-block">
                {{ form.captcha.errors }}
            </div>

            <!-- Submit button -->
            <div class="textWrapper">
                <input class="button submit-button" type="submit" name="submit" value="Submit" style="margin-left: 5px;"/>
            </div>
            <div class="clear"></div>

        <!-- END OF HIDDEN PART -->
        </div>
    </form>

</div>
{% endblock %}
