{% extends "base.html" %}

{% block page_title %}Welcome{% endblock %}

{% block content %}
<div class= 'wrap' >
    <h2>List of responses corresponding to this user</h2>
    <h3>You can edit or delete them</h3>
    <ul class='wrap'>
            {% for questionaire in questionaires %}
        	<li class="{% cycle 'odd' 'even' %}" ><a href="{% url 'questionaire-detail' questionaire_id=questionaire.pk %}">{{ questionaire }}</a> (<em>{{ questionaire.id }}</em>)</li>
            {% endfor %}
    </ul>
</div>
<div class='wrap'>
	<h2>Add response</h2>
	<a href="{% url 'questionaire-adding' %}" >Add</a>

{% endblock %}