<h1>  A MAPS Webform is submitted. </h1>

<p> A user named <b>{{ username }}</b> submitted a response at {{ questionaire.created_on }} </p>

<p> Here is the detail of the response </p>
<label>Student name: </label> {{ questionaire.student_name }} <br/>
<label>Mentor name: </label> {{ questionaire.mentor_name }} <br/>
<label>Identity: </label> {{ questionaire.identity }}<br/>
<label>Primary concern: </label> {{ questionaire.primary_concern }}<br/>
<label>Step taken: </label> {{ questionaire.step_taken }}<br/>
<label>Support from MAPS: </label> {{ questionaire.support_from_MAPS }}<br/>
<label>Follow up email: </label>{{ questionaire.follow_up_email }}<br/>
<label>Follow up phone: </label>{{ questionaire.follow_up_phone }}<br/>
<label>Follow up appointment: </label>{{ questionaire.follow_up_appointment }}<br/>
