<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block page_title %}{{ page_title }}{% endblock %}</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/autotab/jquery.autotab.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-3.1.1-dist/js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-3.1.1-dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datepicker.css">
    </head>
    <body>
        <div class="container" role="main">
            <div id="header" class="header">
                    {% if user.is_active %}
                    <a href="{% url 'account-logout' %}" class="btn btn-primary btn-sm pull-right" role="button">Logout</a>
                    <p class="pull-right" style="padding: 5px">Hello, {% firstof user.get_full_name %}</p>
                    {% endif %}
                <h3><a href="{% url 'home' %}"><img src="http://www.pdx.edu/sites/all/themes/pdx_primary/logo.png" /></a>University studies</h3>
            </div>

            {% block content %}{% endblock %}

            <div id="footer" class="footer">
                {% block footer %}
                <hr />
                <ol>
                {% for q in sql_queries %}
                    <li><pre>{{ q.sql }}</pre></li>
                {% endfor %}
                </ol>
                {% endblock %}
            </div>
        </div>

    </body>
</html>
